In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Correlation

Is there an association between the number of hours spent studying and the performance on the final exam?

In [2]:
students = pd.read_csv("./datasets/students.csv")
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    31 non-null     object
 1   hours   31 non-null     float64
 2   score   31 non-null     int64
dtypes: float64(1), int64(1), object(1)
memory usage: 872.0+ bytes

In [3]:
students

        name  hours  score
0      Allen   8.00     80
1      Brown   2.00     67
2       Cole   9.00     98
3    Collins   9.00    100
4     Cooper   7.00     86
5        Cox   6.50     95
6       Hall   4.00     67
7       Hans   1.00     59
8     Howard   7.00     89
9    Jeffers   0.00     70
10   Johnson   1.00     50
11     Jones   1.50     66
12      King   4.50     81
13    Knight   4.00     69
14       Lee   3.50     71
15    Martin   3.00     66
16    Miller   3.00     75
17     Moore   3.00     60
18    Morris   4.00     67
19    Murphy   6.00     87
20      Reed   5.00     75
21     Smith   0.50     50
22   Stewart   5.00     68
23    Taylor   2.25     53
24    Thomas   2.00     54
25  Thompson   3.50     69
26    Walker   3.50     67
27      Ward   9.00    100
28  Williams   1.00     50
29    Wright   4.75     68
30     Young   4.00     79

In [4]:
hours = students["hours"]
score = students["score"]

In [9]:
fig = plt.figure()
fig.scatter(hours, score, c="red", alpha=0.9, marker='*',label="Score")
fig.xlabel("Hours of Study")
fig.ylabel("Exam Score")
fig.legend(loc='upper left')
# plt.show()

AttributeError: 'Figure' object has no attribute 'scatter'

In [6]:
plt.savefig('Correlation-hoursOfStudy-Score.png', 
            dpi=300, bbox_inches='tight')
plt.show()
# plt.savefig('Correlation-hoursOfStudy-Score.png', dpi=300)

In [7]:
# plt.savefig('Correlation-hoursOfStudy-Score.pdf')